body {
margin: 0;
padding: 0;
}
body{
font-family: sans-serif;
background-image: url("andrzej-suwara-j4glkaOX-ds-unsplash.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
width: 100%; 
}





.sign-up-form{
    
    width: 309px;
    height: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(178, 235, 245);

}

.input-box{
    margin-top: 30px;
    border-radius: 6px;
    height: 35px;
    background-color: antiquewhite;
}

.atag{
    text-decoration: none;
    color: black;
}